@import url(https://fonts.googleapis.com/css2?family=Angkor&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Angkor", serif;
}

body {
  background-color: rgb(245, 235, 220);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(64, 64, 64);
}

header img{
  margin-top: 5px;
  margin-bottom: 5px;
}

nav a {
    display: inline-block;
    margin: 0 30px;
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
}

/* slide show stuff
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 2px;
    background-color: #ffcf6f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #ff861d;
  }
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  footer {
    background-color: rgb(64, 64, 64);
    font-family: cursive;
    padding: 50px 200px;
}

footer h2 {
    color: white;
}

.contact-element {
    display: block;
}

.contact-element a {
    display: inline-block;
    margin: 10px 25px 10px 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.contact-element i {
  display: inline-block;
  margin: 10px 25px 10px 0;
  color: white;
  text-decoration: none;
  font-size: 31px;
}

.contact-element i:hover {
  cursor: pointer;
}

.contact-element a:hover {
  cursor: pointer;
}

.ext-link {
    display: block;
}

.ext-link a {
    display:inline-block ;
    margin:10px 5px 10px 0 ;
    color: rgb(138, 138, 138);
    font-size: xx-small;
    text-decoration: none;
    font-size: 12.5px;
}

.ext-link a:hover {
  color: rgb(255, 255, 255);
}

.our-menu h2 {
  text-align: center;
  color: rgb(165, 122, 80);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tab {
  background-color: rgb(255, 255, 255);
  width: 400px;
  padding: 40px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 1px 3px 5px;
}

h1.name {
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: rgb(165, 122, 80);
}

.button-container button {
  background-color: rgb(255, 139, 31);
  color: white;
  height:50px;
  width: 250px;
  border-radius: 10px;
  border: none;
}
  
button:hover {
  transform: scale(1.2);
  cursor: pointer;
}